.root {
  display: flex;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: -webkit-linear-gradient(top, rgba(253, 219, 146, 1), rgba(209, 253, 254, 1));
  overflow: hidden;
  .register_image {
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
  }
  .input_area {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #f0fff0;
    position: absolute;
    top: 140px;
    left: 40%;
    width: 500px;
    height: 700px;
    border-radius: 20px;
    .title {
      justify-content: center;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: gray;
    }
    .username_area {
      justify-content: center;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 75%;
      margin-bottom: 5px;
    }
    .email_area {
      justify-content: center;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 75%;
    }
    .password_area {
      justify-content: center;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 75%;
    }
    .start_button {
      justify-content: center;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 75%;
    }
    .google_login_button {
      justify-content: center;
      position: absolute;
      top: 82%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: blue;
      width: 75%;
    }
  }
}
