.root {
  min-height: 100%;
  max-width: 100%;
  background: -webkit-linear-gradient(top, rgba(254, 249, 249, 1), rgba(242, 234, 234, 1));
  overflow: hidden;
  .input_area {
    max-width: 1300px;
    margin: 20% auto;
    background-color: white;
    width: 50%;
    height: 70%;
    border-radius: 20px;
    border: 3px solid #13c716;
    .title {
      text-align: center;
      font-weight: bold;
      font-family: sans-serif;
      margin-top: 20%;
      color: #13c716;
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 10%;
      .username_area {
        width: 70%;
      }
      .email_area {
        width: 70%;
        margin-top: 5%;
      }
      .password_area {
        width: 70%;
        margin-top: 5%;
      }
      .start_button {
        color: #13c716;
        font-size: large;
        font-weight: bold;
        margin-top: 10%;
        width: 70%;
      }
      .google_login_button {
        color: #13c716;
        font-size: large;
        font-weight: bold;
        margin-top: 10%;
        width: 70%;
      }
      .back_button {
        cursor: pointer;
        background-color: #13c716;
        color: white;
        font-size: large;
        font-weight: bold;
        margin: 10% auto;
        padding: 1%;
        border-radius: 20px;
        border: none;
        width: 100px;
      }
    }
  }
}

@media (max-width: 600px) {
  .root {
    min-height: 100%;
    max-width: 100%;
    background: -webkit-linear-gradient(top, rgba(254, 249, 249, 1), rgba(242, 234, 234, 1));
    overflow: hidden;
    .input_area {
      max-width: 600px;
      align-items: center;
      background-color: white;
      width: 90%;
      border-radius: 20px;
      border: 3px solid #13c716;
      .title {
        text-align: center;
        font-weight: bold;
        font-family: sans-serif;
        margin-top: 20%;
        color: #13c716;
      }
      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        .username_area {
          width: 80%;
        }
        .email_area {
          width: 80%;
          margin-top: 5%;
        }
        .password_area {
          width: 80%;
          margin-top: 5%;
        }
        .start_button {
          color: #13c716;
          font-size: large;
          font-weight: bold;
          margin-top: 10%;
          width: 80%;
        }
        .google_login_button {
          color: #13c716;
          font-size: large;
          font-weight: bold;
          margin-top: 10%;
          width: 80%;
        }
        .back_button {
          cursor: pointer;
          background-color: #13c716;
          color: white;
          font-size: large;
          font-weight: bold;
          margin: 10% auto;
          padding: 1%;
          border-radius: 20px;
          border: none;
          width: 100px;
        }
      }
    }
  }
}
