.root {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: -webkit-linear-gradient(top, rgba(251, 213, 251, 1), rgba(149, 233, 243, 1));
  .logout_btn {
    cursor: pointer;
    position: absolute;
    left: 50%;
    border: none;
    background-color: white;
    color: #f172a3;
    font-weight: 800;
    text-transform: inherit;
    border-radius: 20px;
    width: 100px;
  }
}
