.root {
  min-height: 100vh;
  overflow: hidden;
  background: -webkit-linear-gradient(top, rgba(216, 251, 217, 1), rgba(250, 251, 236, 1));
  .loading {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: x-large;
    font-weight: 800;
    color: #a9d159;
  }
  .none_text {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: medium;
    font-weight: 800;
    color: #a9d159;
  }
  .container {
    max-width: 1120px;
    margin: 0 auto;
  }
  .logout_btn {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 20%;
    border: none;
    background-color: #a9d159;
    color: white;
    font-weight: 800;
    text-transform: inherit;
    border-radius: 20px;
    width: 100px;
  }
}
