.root {
  .container {
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
    .loading {
      font-size: x-large;
      font-weight: 800;
      color: #007655;
    }
    .plan_title {
      margin-top: 10%;
      font-size: xx-large;
      color: #007655;
    }
    .plan_body {
      font-size: large;
      color: #007655;
      margin-top: 5%;
    }
    .back_button {
      cursor: pointer;
      font-size: larger;
      background-color: #13c716;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 5px 15px;
    }
    .comment_form {
      margin: 5% 0 2% 0;
      .comment_input {
        font-size: medium;
        font-weight: 100;
        width: 25%;
        height: 35px;
        border-radius: 20px;
        border: 1px solid #a9d159;
        margin-right: 20px;
        color: #aaa;
      }
      .comment_disable_button {
        font-size: medium;
        width: 70px;
        height: 40px;
        border-radius: 20px;
        border: none;
        color: #a9d159;
      }
      .comment_button {
        font-size: medium;
        width: 70px;
        height: 40px;
        border-radius: 20px;
        background-color: #a9d159;
        color: white;
        border: none;
      }
    }
  }
}
