.root {
  display: flex;
  position: relative;
  .logo {
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
  }
  .login_button {
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 95%;
    transform: translate(-50%, -50%);
    font-size: 0.75rem;
    background-color: #000080;
  }
  .home_text {
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .email_field {
    justify-content: center;
    width: 40%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
  }
  .start_button {
    justify-content: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000080;
  }
}
