.root {
  display: flex;
  position: relative;
  width: 100vw;
  .home_image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .logo {
    justify-content: center;
    position: fixed;
    top: 5%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
  }
  .login_button {
    position: fixed;
    top: 5%;
    right: 3%;
    transform: translate(-50%, -50%);
    background-color: #000080;
    width: 100px;
    color: white;
  }
  .home_text {
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .register_button {
    justify-content: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000080;
    color: white;
  }
  .start_button {
    justify-content: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000080;
    color: white;
  }
}
