.root {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  .plan_name {
    cursor: pointer;
    display: inline-block;
    color: #007655;
    font-weight: 800;
    padding: 10px;
    border: 3px solid #007655;
    border-radius: 10px;
    width: 100%;
  }
  .timestamp {
    width: 20%;
    color: black;
    font-size: small;
    font-family: sans-serif;
  }
}
