.root {
  width: 100vw;
  .plan_name {
    width: 60%;
    position: absolute;
    left: 15%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: x-large;
    background-color: white;
    border: 1px solid #a9d159;
    border-radius: 7px;
  }
  .timestamp {
    width: 20%;
    font-size: medium;
  }
}
